.encabezado-principal{
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 1px solid grey;

    }

.menu-encabezado{
    display: flex;
    gap: 20px;
}

.padre-hover{
    position: relative;
    display: inline-block;
}

.hijo-hover{
    display: none;
    position: absolute;
    left: 0px;
    width: 1000px;
    background-color: white;
    z-index: 1;
}

.padre-hover:hover .hijo-hover{
    display: block;
    cursor: pointer;
}

.padre-hover p:hover{
    cursor: pointer;
}

.opciones{
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin-top: 5px;
}

#vender{
    background:none;
    color: black;
}
.tamaño{
    width: 150px;
}

.busqueda{
    border: 1px solid grey;
    font-size: 18px;
    width: 400px;
    display: flex;
    justify-content: space-between;
}



.busqueda input{
    border: none;
    animation: none;
    width: 570px;
}

#casas{
    gap: 10px;
    padding-left: 10px;
    overflow-y: scroll;
    max-height: 530px;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
}

.casitas img{
    width: 340px;
    height: 200px;
}

.casitas p{
    padding: 4px;
    margin: 0px;
}
.casitas{
    width: max-content;
    height: max-content;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid grey;
    background-color: rgba(243, 235, 235, 0.788);
    cursor: pointer;
}

.contenedor-padre{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}

*{
    margin: 0px;
    padding: 0px;
}

.contenedor-hijo{
    width: 85%;
    background: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    overflow-y: scroll;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.encabezado figure{
    padding: 0px;
    margin: 0px;
}

.boton-atras{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
}

.fuente-1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

.menu{
    display: flex;
}

.fuente-2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 0px;
}

.margen-izquierdo{
    margin-left: 15px;
}

.seccion-2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-left: 10px;

}

.img1-seccion2{
    width: 540px;
    height: 417px; 
    margin-right: 10px;
}

.img2-seccion2{
    width: 260px;
    height: 200px;
    margin-right: 10px;
}

.contedor-img2{
    display: flex;
    justify-content: space-between;
}

figure{
    margin: 0px;
    padding: 0px;
}

#img1{
    border-radius: 15px 0px 0px 15px;
}

#img3{
    border-radius: 0px 15px 0px 0px; 
}

#img5{
    border-radius: 0px 0px 15px 0px; 
}

.demas-fotos{
    position: absolute;
    bottom: 20px;
    right: 25px;
    z-index: 1;
    background: white;
    color: black;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
}

#posicion{
    position: relative;
}

.seccion-3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descripcion{
    display: flex;
    margin-left: 25px;
}

.titulo{
    font-size: 45px;
    color: rgba(0, 0, 0, 0.877)
}

.titulo2{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.877)
}

.subtitulo{
    font-size: 25px;
    color: rgb(66, 66, 66);
}

.margen-izquierdo2{
    margin-left: 40px;
}

.boton-azul{
    background: none;
    border: none;
    cursor: pointer;
    width: 230px;
    background-color: rgba(0, 0, 255, 0.726);
    border-radius: 10px;
    color: white;
    margin-right: 10px;
    padding: 10px;
}

.boton-azul p{
    margin: 0px;
    padding: 0px;
}

.boton-azul:hover{
    background-color: indigo;
}

.texto1-botonazul{
    font-size: 15px;
    font-weight: bold;
}

h1{
    margin: 0px;
}

p{
    margin: 0px;
}

.scale-up-hor-center {
	-webkit-animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-hor-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-8-5 23:30:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-hor-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
              transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
              transform: scaleX(1);
    }
  }
  